{% extends 'base.html' %}
{% load static %}
{% block title %}About Amuse-Kenya {% endblock %}
{% block meta_description %}Amuse Ke - Fitness Boot Camp · Gym/Physical Fitness Center {% endblock %}
{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/amuse3.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">About Us</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/abt2.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>We pride in providing a great way to keep your children actively engaged through exercise, fun obstacle course challenges, different themed nature scavenger hunts, socialising and working together in a very diverse group of other kids, learning and above all experiencing fun through both structured and non structured activities the way kids love.All you've gotta  do is sign them up, drop them at 9am and pick them up at 12pm. We will have made great use of the time and their energy.Get in touch with us if you have any queries.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">300</span>+</h2>
            <h5>Happy Parents</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">1000</span>+</h2>
            <h5>Happy Kids</h5>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/amuse3.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“We’ve had a few camp experiences before, I can absolutely say that Amuse Camp is a six-star experience for the kids. They’ve learnt to socialise, they’re getting along with others well, one of my kids is 4 and a half and the other is two and I have noticed such a difference in their development!.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Parent</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jp' %}g" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“We’ve had a few camp experiences before, I can absolutely say that Amuse Camp is a six-star experience for the kids. They’ve learnt to socialise, they’re getting along with others well, one of my kids is 4 and a half and the other is two and I have noticed such a difference in their development!.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Parent</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“We’ve had a few camp experiences before, I can absolutely say that Amuse Camp is a six-star experience for the kids. They’ve learnt to socialise, they’re getting along with others well, one of my kids is 4 and a half and the other is two and I have noticed such a difference in their development!.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Parent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

<!-- ***** Amuse Coaches Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Coaches</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Coach Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/coachb.jpg' %}" alt="">
            <!-- Coach Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Coach Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Duncan Atwoli</h5>
                <p>Coach</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Coach Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/coachb.jpg' %}" alt="">
            <!-- Coach Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Coach Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>O Okata</h5>
                <p>Coach</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Amuse Coach Area End ***** -->

{% endblock %}