{% extends 'base.html' %}
{% load static %}
{% block title %}Activities Amuse-Kenya {% endblock %}
{% block meta_description %}Amuse Ke - Fitness Boot Camp · Gym/Physical Fitness Center {% endblock %}
{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/amuse3.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Activities</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Activities</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Obstacle Course</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s7.png' %}" alt="">
            </div>
            <h5>Cycling</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s8.png' %}" alt="">
            </div>
            <h5>Nature Walks</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s9.png' %}" alt="">
            </div>
            <h5>Scavenger Hunt</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s10.png' %}" alt="">
            </div>
            <h5>Outdoor Fun Games</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Photography</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Pretend Play</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Kids Exercises</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Team Building Activities</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/amuse3.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“We’ve had a few camp experiences before, I can absolutely say that Amuse Camp is a six-star experience for the kids. They’ve learnt to socialise, they’re getting along with others well, one of my kids is 4 and a half and the other is two and I have noticed such a difference in their development!.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Parent</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“We’ve had a few camp experiences before, I can absolutely say that Amuse Camp is a six-star experience for the kids. They’ve learnt to socialise, they’re getting along with others well, one of my kids is 4 and a half and the other is two and I have noticed such a difference in their development!.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Parent</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“We’ve had a few camp experiences before, I can absolutely say that Amuse Camp is a six-star experience for the kids. They’ve learnt to socialise, they’re getting along with others well, one of my kids is 4 and a half and the other is two and I have noticed such a difference in their development!.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Parent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest Events</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/event.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Amuse Camp Karura Forest.</a>
              <p>We are very excited to be continuing #amusecamp this coming week. Thanks to everyone who made this weeks camp a success...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/event.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Amuse Camp Karura Forest.</a>
              <p>We are very excited to be continuing #amusecamp this coming week. Thanks to everyone who made this weeks camp a success...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/event.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Amuse Camp Karura Forest.</a>
              <p>We are very excited to be continuing #amusecamp this coming week. Thanks to everyone who made this weeks camp a success...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

  {% endblock %}