{% extends 'base2.html' %}

{% block content %}

{% if category_posts %}

	<h1>{{ cats }}</h1>

	<ul>
	{% for blog_post in category_posts %}
		<li><a href="{% url 'article-detail' blog_post.pk %}">
		{{ blog_post.title }}</a> 
		
		- {{ blog_post.author.first_name }}
		{{ blog_post.author.last_name }} - 
		{{ blog_post.post_date }} 
		<small>

		{% if user.is_authenticated %}
			- <a href="{% url 'update_post' blog_post.pk %}">(Edit)</a>
			<a href="{% url 'delete_post' blog_post.pk %}">(Delete)</a>
		{% endif %}
			
		</small><br>
		{{ blog_post.body|slice:":200"|safe }}</li>

	{% endfor %}
	</ul>

{% else %}
	<h2>Sorry this page does not exist...!</h2>
{% endif %}


{% endblock %}